<div class="container">
  <mat-toolbar color="primary" [class.mat-elevation-z8]="true">
    <span id="title" (click)="scrollToTop()" routerLink="/">{{title}}</span>
    <span class="spacer"></span>
    <a mat-button href="#whoiam" [ngClass]="{'active': activeRoute('whoiam')}">Who I Am</a>
    <a mat-button href="#stack" [ngClass]="{'active': activeRoute('stack')}">Tech Stack</a>
    <a mat-button href="#contact" [ngClass]="{'active': activeRoute('contact')}">Contact</a>
  </mat-toolbar>

  <div class="content">
    <section id="whoiam">
      <mat-grid-list cols="1" rowHeight="2:1" gutterSize="20px">
        <mat-grid-tile>
          <pre>
            <code>{{
              export class Personal implements OnInit{
                whoIAm:string;
                constructor(){ }

                ngOnInit(){
                  this.whoIAm = `<span class="highlight">Hi, I'm Melvis Perez, and Full Stack web developer</span>`;
                }

              }
            }}
            </code>
          </pre>
        </mat-grid-tile>
      </mat-grid-list>
    </section>
    <section id="stack">
      <mat-grid-list cols="1" rowHeight="2:1">
        <mat-grid-tile>Tech Stack</mat-grid-tile>
      </mat-grid-list>
    </section>
    <section id="contact">
      <mat-grid-list cols="1" rowHeight="2:1">
        <mat-grid-tile>Contact</mat-grid-tile>
      </mat-grid-list>
    </section>
  </div>
</div>