.spacer {
    flex: 1 1 auto;
}

.mat-toolbar{
    position: sticky;
    position: -webkit-sticky; /* For macOS/iOS Safari */
    top: 0; /* Sets the sticky toolbar to be on top */
    z-index: 1000; /* Ensure that your app's content doesn't overlap the toolbar */
}

.mat-button:hover, 
.mat-button.active:hover{
    background-color: #4e061e;
    color: #fff;
}

.mat-button.active{
    background-color: #8a0732;
    color: #fff;
}

.content{
    background-color: #303030;
}

section{
    padding: 20px;
}

.mat-grid-list{
    background-color: #8d8b8b;
    color: white;
}